[submodule "ranker"]
	path = ranker
	url = https://github.com/prophile/ranker.git
[submodule "tests/dummy"]
	path = tests/dummy
	url = git://srobo.org/comp/dummy-comp
[submodule "scoring-smallpeice-2014"]
	path = scoring-smallpeice-2014
	url = https://github.com/prophile/scoring-smallpeice-2014
